<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zlove.upgrade">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rx.CreateActivity"/>
        <activity android:name=".rx.JustActivity"/>
        <activity android:name=".rx.FromActivity"/>
        <activity android:name=".rx.DeferActivity"/>
        <activity android:name=".rx.IntervalActivity"/>
        <activity android:name=".rx.TimerActivity"/>
        <activity android:name=".rx.RangeActivity"/>
        <activity android:name=".rx.RepeatActivity"/>
        <activity android:name=".rx.MapActivity"/>
        <activity android:name=".rx.FlatMapActivity"/>
        <activity android:name=".rx.ConcatMapActivity"/>
        <activity android:name=".rx.SwitchActivity"/>
        <activity android:name=".rx.BufferActivity"/>
        <activity android:name=".rx.WindowActivity"/>
        <activity android:name=".rx.ScanActivity"/>
        <activity android:name=".rx.GroupByActivity"/>
        <activity android:name=".rx.DebounceActivity"/>
        <activity android:name=".rx.DistinctActivity"/>
        <activity android:name=".rx.DistinctUntilChangedActivity"/>
        <activity android:name=".rx.ElementAtActivity"/>
        <activity android:name=".rx.FilterActivity"/>
        <activity android:name=".rx.FirstActivity"/>
        <activity android:name=".rx.SingleActivity"/>
        <activity android:name=".rx.LastActivity"/>
        <activity android:name=".rx.TakeActivity"/>
        <activity android:name=".rx.TakeLastActivity"/>
        <activity android:name=".rx.SkipActivity"/>
        <activity android:name=".rx.SkipLastActivity"/>
        <activity android:name=".rx.IgnoreElementsActivity"/>
        <activity android:name=".rx.ThrottleActivity"/>
        <activity android:name=".rx.ZipActivity"/>
        <activity android:name=".rx.MergeActivity"/>
        <activity android:name=".rx.ConcatActivity"/>
        <activity android:name=".rx.CombineLatestActivity"/>
        <activity android:name=".rx.JoinActivity"/>
        <activity android:name=".rx.StartWithActivity"/>
        <activity android:name=".rx.Switch2Activity"/>
        <activity android:name=".rx.ErrorReturnActivity"/>
        <activity android:name=".rx.ErrorResumeNextActivity"/>
        <activity android:name=".rx.ExceptionResumeNextActivity"/>
        <activity android:name=".rx.RetryActivity"/>
        <activity android:name=".rx.RetryWhenActivity"/>
    </application>

</manifest>